@page
@model IS_Proj_HIT.DetailsModelPointOfOrigin

@{
    ViewData["Title"] = "Point of Origin Details";
}

<h1>Point of Origin Details</h1>

<div>
    <h4>PointOfOrigin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PointOfOrigin.WiPopCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PointOfOrigin.WiPopCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PointOfOrigin.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PointOfOrigin.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PointOfOrigin.Explaination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PointOfOrigin.Explaination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PointOfOrigin.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PointOfOrigin.LastModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PointOfOrigin.PointOfOriginId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
