@page
@model IS_Proj_HIT.DeleteModelVisitType

@{
    ViewData["Title"] = "Delete Visit Type";
}

<h1>Delete</h1>

<h3>@ViewData["RegularMessage"]</h3>
<h3 class="error">@ViewData["ErrorMessage"]</h3>

<div>
    <h4>VisitType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitType.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitType.LastModified)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="VisitType.VisitTypeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
