@page
@model IS_Proj_HIT.DetailsModelVisitType

@{
    ViewData["Title"] = "Visit Type Details";
}

<h1>Details</h1>

<div>
    <h4>VisitType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VisitType.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitType.LastModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.VisitType.VisitTypeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
