@page
@model IS_Proj_HIT.DeleteModelDischarge

@{
    ViewData["Title"] = "Delete Discharge";
}

<h1>Delete Discharge</h1>

<h3>@ViewData["RegularMessage"]</h3>
<h3 class="error">@ViewData["ErrorMessage"]</h3>

<div>
    <h4>Discharge</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discharge.WiPopCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discharge.WiPopCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discharge.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discharge.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discharge.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discharge.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discharge.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discharge.LastModified)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Discharge.DischargeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
