@page
@model IS_Proj_HIT.IndexModelEncounterType

@{
    ViewData["Title"] = "Encounter Type";
}

<div class="row my-3">
<h3>
    <a class="btn btn-primary" asp-controller="Administration" asp-action="EncounterDataEntry">
        <i class="fa fa-arrow-left "></i>
        </a>
     Encounter Type
</h3>
</div>


<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EncounterType[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EncounterType[0].LastModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EncounterType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModified)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.EncounterTypeId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.EncounterTypeId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.EncounterTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
