@page
@model IS_Proj_HIT.IndexModelTempRouteType

@{
    ViewData["Title"] = "Temp Route Type";
}
<div class="row my-3">
<h3>
     <a class="btn btn-primary" asp-controller="Administration" asp-action="DataEntry">
            <i class="fa fa-arrow-left "></i>
        </a>
      Temp Route Type
</h3>
</div>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TempRouteType[0].TempRouteTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempRouteType[0].LastModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TempRouteType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TempRouteTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModified)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.TempRouteTypeId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.TempRouteTypeId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.TempRouteTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
