@page
@model IS_Proj_HIT.DetailsModelPhysicianRole

@{
    ViewData["Title"] = "Physician Role Details";
}

<h1>Details</h1>

<div>
    <h4>PhysicianRole</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicianRole.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicianRole.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicianRole.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicianRole.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicianRole.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicianRole.LastModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PhysicianRole.PhysicianRoleId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
