@page
@model IS_Proj_HIT.IndexModelPulseRouteType

@{
    ViewData["Title"] = "Pulse Route Type";
}
<div class="row my-3">
<h3>
     <a class="btn btn-primary" asp-controller="Administration" asp-action="DataEntry">
            <i class="fa fa-arrow-left "></i>
        </a>
     Pulse Route Type
</h3>
</div>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PulseRouteType[0].PulseRouteTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PulseRouteType[0].LastModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PulseRouteType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PulseRouteTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModified)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.PulseRouteTypeId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.PulseRouteTypeId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.PulseRouteTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
