@page
@model IS_Proj_HIT.IndexModelFacility

@{
    ViewData["Title"] = "Facility";
}

<div class="row my-3">
<h3>
    <a class="btn btn-primary" asp-controller="Administration" asp-action="EncounterDataEntry">
        <i class="fa fa-arrow-left "></i>
        </a>
     Facility
</h3>
</div>


<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facility[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility[0].LastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Facility)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Address1)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.FacilityId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.FacilityId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.FacilityId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
