@model AssessmentFormPageModel;
@{
    ViewData["Title"] = "Patient Care Assessment";
}

<form asp-action="CreateAssessment" class="col" id="pca" method="post" name="pca">
    <partial model="ViewBag.Patient" name="PatientBannerPartial" />
    <input type="hidden" asp-for="PcaRecord.Pcaid" value="@Model.PcaRecord.Pcaid" />
    <input type="hidden" asp-for="PcaRecord.EncounterId" value="@ViewBag.Encounter.EncounterId" />
    <input type="hidden" asp-for="PatientMrn" value="@ViewBag.Patient.Mrn" />
    <input type="hidden" asp-for="PcaRecord.PainScaleTypeId" value="@Model.PcaRecord.PainScaleTypeId"/>
    <div class="tab-content">
      <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item" style="margin-left: 10px; margin-right: 10px">
                <a aria-controls="vital" aria-selected="true" class="nav-link active" data-toggle="tab" href="#vital" id="vital-tab" role="tab">Vitals</a>
            </li>
            <li class="nav-item" style="margin-left: 10px; margin-right: 10px">
                <a aria-controls="pain" aria-selected="false" class="nav-link" data-toggle="tab" href="#painTab" id="pain-tab" role="tab">Pain Assessment</a>
            </li>
            <li class="nav-item" style="margin-left: 10px; margin-right: 10px">
                <a aria-controls="systems" aria-selected="false" class="nav-link" data-toggle="tab" href="#systems" id="systems-tab" role="tab">Systems Review</a>
            </li>
        </ul>
    
        <!-- Vitals tab -->
        <div aria-labelledby="vitals-tab" class="tab-pane active" id="vital" role="tabpanel">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Patient Care Assessment - Vitals <span class="float-right">Page 1</span></h4>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3 ">
                            <button class="btn btn-primary m-r" type="button"
                                    data-toggle="tooltip" data-placement="right" title="@ViewBag.TempWnl">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputTemperature">Temperature</label>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <input type="number" class="form-control" id="inputTemperature" placeholder="Temperature"
                                   step="0.01" min="0" max="125" asp-for="PcaRecord.Temperature">
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <select class="form-control" asp-items="@ViewBag.TempUnits" asp-for="TempUnit"></select>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <select class="form-control" asp-items="@ViewBag.TempRoutes" asp-for="PcaRecord.TempRouteTypeId"></select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3">
                            <button class="btn btn-primary m-r" type="button"
                                    data-toggle="tooltip" data-placement="right" data-html="true" title="@ViewBag.BpWnl">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputSystolic">Blood Pressure</label>
                        </div>
                        <div class="col-sm-12 col-lg-2">
                            <input type="number" class="form-control" id="inputSystolic" placeholder="Systolic"
                                   min="0" max="250" step="0.01" asp-for="PcaRecord.SystolicBloodPressure">
                        </div>
                        <div class="col-sm-12 col-lg-2">
                            <input type="number" class="form-control" id="inputDiastolic" placeholder="Diastolic"
                                   min="0" max="250" step="0.01" asp-for="PcaRecord.DiastolicBloodPressure">
                        </div>
                        <div class="col-sm-12 col-lg-5">
                            <select class="form-control" asp-items="@ViewBag.BloodPressureRoutes" asp-for="PcaRecord.BloodPressureRouteTypeId"></select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3">
                            <button class="btn btn-primary m-r" type="button"
                                    data-toggle="tooltip" data-placement="right" title="@ViewBag.PulseWnl">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputPulse">Pulse</label>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <input type="number" class="form-control" id="inputPulse" placeholder="Beats Per Minute"
                                   min="0" max="127" step="0.01" asp-for="PcaRecord.Pulse">
                        </div>
                        <div class="col-sm-6 col-lg-5">
                            <select class="form-control" asp-items="@ViewBag.PulseRoute" asp-for="PcaRecord.PulseRouteTypeId"></select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3">
                            <button class="btn btn-primary m-r" type="button"
                                    data-toggle="tooltip" data-placement="right" title="@ViewBag.RespWnl">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputRespiration">Respiration</label>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <input type="number" class="form-control" id="inputRespiration" placeholder="Breaths Per Minute"
                                   min="0" max="60" step="0.01" asp-for="PcaRecord.Respiration">
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <select class="form-control" asp-items="@ViewBag.O2DeliveryRoutes" asp-for="PcaRecord.O2deliveryTypeId"></select>
                        </div>
                        <div class="col-sm-6 col-lg-2">
                            <input class="form-control" placeholder="Flow Rate" type="text" asp-for="PcaRecord.OxygenFlow">
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <input class="form-control" placeholder="O2 %"
                                   min="0" max="1" step="0.01"
                                   type="number" asp-for="PcaRecord.PercentOxygenDelivered">
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3">
                            <button class="btn btn-primary m-r" type="button"
                                    data-toggle="tooltip" data-placement="right" title="@ViewBag.PulseOxWnl">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputPulseOxi">Pulse Oximetry</label>
                        </div>
                        <div class="col-sm-12 col-lg-9">
                            <input type="number" class="form-control" id="inputPulseOxi" placeholder="Pulse Oxim"
                                   min="0" max="127" step="0.01" asp-for="PcaRecord.PulseOximetry">
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3 ">
                            <button class="btn btn-primary m-r" type="button"
                                    data-toggle="tooltip" data-placement="right" title="@ViewBag.WeightWnl">
                                <i class="fas fa-info"></i>
                            </button>
                            <label class="form-label" for="inputWeight">Weight</label>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <input type="number" class="form-control" id="inputWeight" placeholder="Weight"
                                   min="0" max="99999999.99" step="0.01" asp-for="PcaRecord.Weight">
                        </div>
                        <div class="col-sm-12 col-lg-5">
                            <select class="form-control" asp-items="@ViewBag.WeightUnits" asp-for="PcaRecord.WeightUnits"></select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3 ">
                            <a class="btn btn-primary m-r"
                               data-placement="right" data-toggle="tooltip" href="https://www.nhlbi.nih.gov/health/educational/lose_wt/BMI/bmicalc.htm"
                               rel="noopener noreferrer" target="_blank"
                               title="Link to BMI Calculator">
                                <i class="fas fa-info"></i>
                            </a>
                            <label class="form-label" for="inputBMI">Body Mass Index</label>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <input type="number" class="form-control" id="inputBMI" placeholder="BMI"
                                   min="0" max="9999.99" step="0.01" asp-for="PcaRecord.BodyMassIndex">
                        </div>
                        <div class="col-sm-12 col-lg-5">
                            <select class="form-control" asp-items="@ViewBag.BodyMassIndexRoutes" asp-for="PcaRecord.BmimethodId"></select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3 ">
                            <label class="form-label ml-5" for="inputHeight">Height/Length</label>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <input type="number" class="form-control" id="inputHeight" placeholder="Height/Length"
                                   min="0" max="9999.99" step="0.01" asp-for="PcaRecord.Height">
                        </div>
                        <div class="col-sm-12 col-lg-5">
                            <select class="form-control" asp-items="@ViewBag.LengthUnits" asp-for="PcaRecord.HeightUnits"></select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-3 ">
                            <label class="form-label ml-5" for="inputHead">Head Circumference</label>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <input type="number" class="form-control" id="inputHead" placeholder="Head Circ."
                                   min="0" max="9999.999" step="0.01" asp-for="PcaRecord.HeadCircumference">
                        </div>
                        <div class="col-sm-12 col-lg-5">
                            <select class="form-control" asp-items="@ViewBag.LengthUnits" asp-for="PcaRecord.HeadCircumferenceUnits"></select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-12">
                            <label class="form-label ml-5" for="inputVitalNote">Vital Notes</label>
                            <textarea class="form-control w-100" id="inputVitalNote" rows="4" asp-for="VitalNote"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pain tab -->
        <div aria-labelledby="pain-tab" class="tab-pane" id="painTab" role="tabpanel">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Patient Care Assessment - Pain<span class="float-right">Page 2</span></h4>
                </div>
                <div class="card-body">
                        <div class="form-group row">
                            @foreach (var painScaleType in Model.PainScales)
                            {
                                <div class="col-sm-6 col-lg-3 mb-1">
                                    <button class="btn btn-primary" type="button"
                                            data-toggle="tooltip" data-placement="right" title="@painScaleType.UseDescription">
                                        <i class="fas fa-info"></i>
                                    </button>
                                    <input id="@(painScaleType.PainScaleTypeName + painScaleType.PainScaleTypeId)"
                                        class="painScaleRadio"
                                        type="radio"
                                        asp-for="PcaRecord.PainScaleTypeId"
                                        value="@painScaleType.PainScaleTypeId">
                                    <label class="btn btn-outline-primary w-75 mb-0"
                                        for="@(painScaleType.PainScaleTypeName + painScaleType.PainScaleTypeId)">
                                        @painScaleType.PainScaleTypeName
                                    </label>
                                </div>
                            }
                            <div class="col-sm-6 col-lg-3">
                                <div class="float-right">
                                    <label class="form-label mb-0" for="painLevelGoal">
                                        Pain Goal:
                                    </label>
                                    <input id="painLevelGoal"
                                           class="form-control d-inline-block w-50"
                                           placeholder="0 to 10"
                                           type="number"
                                           min="0" max="10" step="1"
                                           asp-for="PcaRecord.PainLevelGoal">
                                </div>
                            </div>
                        </div>
                        <!-- this is where the chosen pain assessment info goes. Should only be able to modify notes while showing the pain assessment info-->
                        <table class="table table-bordered table-primary">
                            <tbody>
                                @foreach (var pa in Model.PcaRecord.PcapainAssessments)
                                {
                                    <tr>
                                        <td>@pa.PainParameter.ParameterName</td>
                                        <td>@pa.PainRating.Value</td>
                                        <td>@pa.PainRating.Description</td>
                                    </tr>
                                }
                                @if (Model.PcaRecord.PainScaleType != null && Model.PcaRecord.PainScaleType.PainScaleTypeName is "Wong-Baker")
                                {
                                    <tr>
                                        <td colspan="99">
                                            <figure>
                                                <img alt="Pain Scale 0 to 10" src="~/img/FACES_English_Black.jpg">
                                                <figcaption>
                                                    FACES licensed to Angela Lee February, 2020
                                                </figcaption>
                                            </figure>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="form-group row">
                            <div class="col-sm-12 col-lg-12">
                                <label class="form-label ml-5" for="inputPainNote">Pain Assessment Notes</label>
                                <textarea class="form-control w-100" id="inputPainNote" rows="4" asp-for="PainNote"></textarea>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <!-- Systems Review tab -->
        <div aria-labelledby="systems-tab" class="tab-pane" id="systems" role="tabpanel">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Patient Care Assessment - Systems Review<span class="float-right">Page 3</span></h4>
                </div>
                <div class="card-body">
                    <p class="text-center text-body">Indicate whether the assessment was within normal limits (WNL) or abnormal. Document any abnormal findings or concerns. Document any interventions</p>
                    <div class="form-group row">
                        <ul class="nav nav-tabs nav-fill small font-weight-bold border" id="myTab" role="tablist">
                            @foreach (var careSystem in Model.SecondarySystemTypes)
                            {
                                <li class="nav-item">
                                    <a aria-controls="careSystem-@(careSystem.CareSystemTypeId)" aria-selected="false"
                                       id="careSystem-@(careSystem.CareSystemTypeId)-tab"
                                       class="nav-link @(Model.SecondarySystemTypes.FirstOrDefault() == careSystem ? "active" : "")"
                                       data-toggle="tab" href="#careSystem-@(careSystem.CareSystemTypeId)" role="tab">
                                        @careSystem.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="tab-content border p-3" id="careSystemTabContent">
                        @foreach (var careSystem in Model.SecondarySystemTypes)
                        {
                            <div aria-labelledby="careSystem-@(careSystem.CareSystemTypeId)-tab"
                                 class="tab-pane fade show @(Model.SecondarySystemTypes.FirstOrDefault() == careSystem ? "active" : "")"
                                 id="careSystem-@(careSystem.CareSystemTypeId)" role="tabpanel">
                                @foreach (var careParam in careSystem.CareSystemParameters)
                                {
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-lg-12">
                                            <button class="btn btn-primary m-r" type="button"
                                                    data-toggle="tooltip" data-placement="right" title="@careParam.NormalLimitsDescription">
                                                <i class="fas fa-info"></i>
                                            </button>
                                            <label class="form-label">@careParam.Name</label>
                                        </div>

                                        <div class="col-sm-12 col-lg-4 mb-1">
                                            <input id="@(careSystem.Name + careParam.CareSystemParameterId)-n" class="cs-n"
                                                   asp-for="Assessments[careParam.CareSystemParameterId].IsWithinNormalLimits"
                                                   value=""
                                                   type="radio" checked>
                                            <label class="btn btn-outline-primary w-90 mb-0"
                                                   for="@(careSystem.Name + careParam.CareSystemParameterId)-n">
                                                Not Assessed
                                            </label>
                                        </div>
                                        <div class="col-sm-12 col-lg-4 mb-1">
                                            <input id="@(careSystem.Name + careParam.CareSystemParameterId)-f" class="cs-t"
                                                   type="radio"
                                                   asp-for="Assessments[careParam.CareSystemParameterId].IsWithinNormalLimits"
                                                   value="true">
                                            <label class="btn btn-outline-primary w-90 mb-0"
                                                   for="@(careSystem.Name + careParam.CareSystemParameterId)-f">
                                                Within Normal Limits
                                            </label>
                                        </div>
                                        <div class="col-sm-12 col-lg-4 mb-1">
                                            <input id="@(careSystem.Name + careParam.CareSystemParameterId)-t" class="cs-f"
                                                   type="radio"
                                                   asp-for="Assessments[careParam.CareSystemParameterId].IsWithinNormalLimits"
                                                   value="false">
                                            <label class="btn btn-outline-primary w-90 mb-0"
                                                   for="@(careSystem.Name + careParam.CareSystemParameterId)-t">
                                                Abnormal
                                            </label>
                                        </div>
                                        <div class="col-sm-12 col-lg-12 mb-1">
                                            <input id="@(careSystem.Name + careParam.CareSystemParameterId)-d"
                                                   class="form-control d-none"
                                                   type="text"
                                                   asp-for="Assessments[careParam.CareSystemParameterId].Comment"
                                                   placeholder="Describe">
                                        </div>
                                    </div>
                                    @if (careParam != careSystem.CareSystemParameters.LastOrDefault())
                                    {
                                        <hr />
                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--For navigating PCA-->
  
    <button class="btn btn-primary btn-block" onclick="setFormSubmit()" type="submit"  style="padding-top: 10px">Save & Close Assessment</button>
</form>
<hr/>

<a asp-controller="Encounter"
   asp-action="ViewEncounter"
   asp-route-encounterId="@ViewBag.Encounter.EncounterId"
   class="btn btn-outline-primary">
    <i class="fas fa-arrow-left"></i> Return To Encounter
</a>

<script>
    var formSubmit = false;
    var setFormSubmit = function () { formSubmit = true; };

    window.onload = function () {
        window.addEventListener("beforeunload", function (e) {
            if (formSubmit) {
                return undefined;
            }
            var message = "If you leave before saving, your changes will be lost.";
            e.returnValue = message;
        });
    };
</script>