@page
@model IS_Proj_HIT.IndexModelPainScaleType

@{
    ViewData["Title"] = "Pain Scale Type";
}

<div class="row my-3">
<h3>
     <a class="btn btn-primary" asp-controller="Administration" asp-action="DataEntry">
            <i class="fa fa-arrow-left "></i>
        </a>
       Pain Scale Type
</h3>
</div>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PainScaleType[0].PainScaleTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PainScaleType[0].UseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PainScaleType[0].LastModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PainScaleType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PainScaleTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UseDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModified)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.PainScaleTypeId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.PainScaleTypeId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.PainScaleTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
