@model IS_Proj_HIT.Entities.Encounter

@if (!User.IsInRole("Registrar"))
{
  <div class="card col-2 mx-0 px-0 float-left">
    <div class="card-header bg-primary text-white">
      <h4>
        Encounter Menu
      </h4>
      <a asp-controller="Encounter" asp-action="ViewEncounter" asp-route-encounterId="@Model.EncounterId"
      class="text-white">
        <small>Return to Encounter</small>
      </a>
    </div>

    @* To 'undisable' a button, replace 'disabled' with 'btn-primary', and vice versa. *@
    <div id="accordion" class="accordion accordion-flush mx-0 px-0">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link disabled" data-toggle="collapse" data-target="#advancedDirectivesCollapse"
            aria-expanded="false" aria-controls="advancedDirectivesCollapse">
              Advanced Directives
            </button>
          </h5>
        </div>

        <div id="advancedDirectivesCollapse" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body m-0 p-0">

            <div class="btn-group-vertical btn-block">
              @* This needs more *@
              <a class="btn disabled" style="text-align:left"> Advanced Directives Buttons</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#physicianDocumentsCollapse"
            aria-expanded="false" aria-controls="physicianDocumentsCollapse">
              Physician 
            </button>
          </h5>
        </div>
        <div id="physicianDocumentsCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body m-0 p-0">
            <div class="btn-group-vertical btn-block">
              @* use the a tag to create the buttons to link *@
              <a class="btn btn-primary" asp-controller="PhysicianAssessment" asp-action="HistoryAndPhysical"
              asp-route-id="@Model.EncounterId" style="text-align:left"> History & Physical</a>
              <a class="btn btn-primary" asp-controller="Encounter" asp-action="ProgressNotes"
              asp-route-id="@Model.EncounterId" style="text-align:left"> Physician Notes</a>
              <a class="btn btn-primary" asp-controller="Encounter" asp-action="ViewPhysicianDischarge"
              asp-route-id="@Model.EncounterId" style="text-align:left"> Discharge Notes</a>
              <a class="btn disabled" asp-controller="Home" asp-action="Index" style="text-align:left"> Consultations</a>
              <a class="btn btn-primary" asp-controller="Order" asp-action="ListOrders" asp-route-id="@Model.EncounterId"
              style="text-align:left"> Orders</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed disabled" data-toggle="collapse" data-target="#proceduresCollapse"
            aria-expanded="false" aria-controls="proceduresCollapse">
              Procedures
            </button>
          </h5>
        </div>
        <div id="proceduresCollapse" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body m-0 p-0">

            <div class="btn-group-vertical btn-block">
              @* This needs more *@
              <a class="btn disabled" style="text-align:left"> Procedures Buttons</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed disabled" data-toggle="collapse" data-target="#labDiagnosticsCollapse"
            aria-expanded="false" aria-controls="labDiagnosticsCollapse">
              Lab & Diagnostics
            </button>
          </h5>
        </div>
        <div id="labDiagnosticsCollapse" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body m-0 p-0">

            <div class="btn-group-vertical btn-block">
              @* This needs more *@
              <a class="btn disabled" style="text-align:left"> Lab & Diagnostics Buttons</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#nursingCollapse"
            aria-expanded="false" aria-controls="nursingCollapse">
              Nursing
            </button>
          </h5>
        </div>
        <div id="nursingCollapse" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body m-0 p-0">

            <div class="btn-group-vertical btn-block">
              @* This needs more *@
              <a class="btn btn-primary" asp-controller="Encounter" asp-action="PCAIndex"
              asp-route-encounterId="@Model.EncounterId" style="text-align:left"> Patient Care Assessments</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed disabled" data-toggle="collapse" data-target="#emarCollapse"
            aria-expanded="false" aria-controls="emarCollapse">
              eMAR
            </button>
          </h5>
        </div>
        <div id="emarCollapse" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body m-0 p-0">

            <div class="btn-group-vertical btn-block">
              @* This needs more *@
              <a class="btn disabled" style="text-align:left"> eMAR Buttons</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
}