@page
@model IS_Proj_HIT.DetailsModelPhysician

@{
    ViewData["Title"] = "Physician Details";
}

<h1>Details</h1>

<div>
    <h4>Physician</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Physician.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Physician.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Physician.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Physician.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Physician.Credentials)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Physician.Credentials)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Physician.License)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Physician.License)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Physician.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Physician.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Physician.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Physician.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Physician.ProviderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Physician.ProviderStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Physician.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Physician.LastModified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Physician.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Physician.Address.Address1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Physician.ProviderType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Physician.ProviderType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Physician.Specialty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Physician.Specialty.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Physician.PhysicianId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
